<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      <p><center><b>Aftermath</b> is an iOS/Android app designed with an emphasis on direct interaction with nearby players and rewarding players for exploration. Aftermath focuses on in-depth character customization that allows players to build their character in a way that matches their preferred playstyles.</center></p>

<h1 align = "center">
<a id="header-1" class="anchor" href="#header-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>Project Description</h1>

<p>The game utilizes the GPS functionality of your device as well as it's internet connection in order to make the game world and the real world one and the same. As you cover ground in the real world, your character is scavenging for weapons, equipment, and loot items. All player interaction is proximity based, and whether or not you're spotted is dependent on how you built your character's stats. Players can choose to engage in combat with other players, cooperate with other players for mutual benefit, or attempt to steal from other players if they haven't been spotted. After a day of exploration and interaction, you can return to a location you've marked as your home base in order to be safe from attacks and restore health. The character customization system allows you to choose between numerous clothing and weapon options to suit your preferred playstyle.</p>

<h1 align = "center">
<a id="header-1" class="anchor" href="#header-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>Screenshots</h1>

<img src="http://i.imgur.com/I3I7xZf.png" alt="">
<p align = "center"><b>Title Screen</b></p>
<hr></hr>

<img src="http://i.imgur.com/N6V3a1Z.png" alt="">
<p align = "center"><b>Character Creation</b></p>
<hr></hr>

<img src="http://i.imgur.com/RmIkGjY.png" alt="">
<p align = "center"><b>Main Screen</b></p>
<hr></hr>

<img src="http://i.imgur.com/nUvRuNe.png" alt="">
<p align = "center"><b>Equipment</b></p>
<hr></hr>

<img src="http://i.imgur.com/Cavfi1a.png" alt="">
<p align = "center"><b>Base Management</b></p>

<h1 align = "center">
<a id="header-1" class="anchor" href="#header-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>The Team</h1>

<table>
<thead>
<tr>
<th style="width:25%;"><img src="https://cloud.githubusercontent.com/assets/11892008/24480484/76410f02-1499-11e7-8842-c7227ce9c921.jpg" alt=""  style="width:100%"></th>
<th style="width:25%;"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAANcAAAAJGFjMTRjNjQ0LTMxODctNDc2Ny04MDg2LWQzMTE4NjQ1ZGU2ZA.jpg" alt="" style="width:100%"></th>
<th><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12928320_128713040859778_6937418294896562985_n.jpg?oh=f20ee8647e36704b5bbc735947b69b8d&oe=5999B4A3" alt=""></th>
<th style="width:25%;"><img src="https://cloud.githubusercontent.com/assets/11892008/24480390/e98f4876-1498-11e7-9dc3-0f4a2a705990.jpg" alt="" style="width:100%"></th>
</tr>
</thead>
<tbody>
<tr>
<td><b>Matthew Baker</b></td>
<td><b>Justin Cartlidge</b></td>
<td><b>Brian Conway</b></td>
<td><b>Brandon Marino</b></td>
</tr>
<tr>
<td><font size="2%">Matthew grew up in North Hollywood, CA. He enjoys working with his hands to build anything he thinks is cool.</font></td>
<td><font size="2%">Justin grew up in Spring Creek, NV loving the outdoors. He is a sports enthusiast and enjoys hunting, hiking, snowboarding, and traveling.</font></td>
<td><font size="2%">Brian grew up in Las Vegas, NV. His interests are game development, ubiquitous computing, and virtual reality.</font></td>
<td><font size="2%">Brandon grew up in Reno, NV where he continues to pursue his life goals. He loves going to music festivals, traveling and gaming with his friends.</font></td>
</tr>
</tbody>
</table>

<h1 align = "center">
<a id="header-1" class="anchor" href="#header-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>Advisor</h1>
<img src="http://www.unr.edu/Images/engineering/computer-science/people/folmer.jpg" alt="">
<p align = "center"><b>Eelke Folmer</b></p>

<h1>
  <a id="header-1" class="anchor" href="#header-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>Resources
</h1>
      <p>Resource information goes here... </p>
<h2>
  <a id="header-2" class="anchor" href="#header-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Video
</h2>
      <p>Video information goes here... </p>
<h2>
  <a id="header-2" class="anchor" href="#header-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Presentations
</h2>
      <p>Presentation information goes here... </p>
<h2>
  <a id="header-2" class="anchor" href="#header-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Poster
</h2>
      <p>Poster information goes here... </p>
      
<h2><a id="header-2" class="anchor" href="#header-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Documentation</h2>
      <h4><a href="https://drive.google.com/open?id=0B9xsM8McQMrbcnFNd1RwdGI1Ylk" target="_blank">Project Proposal</a></h4>
      <h4><a href="https://drive.google.com/open?id=1IX6M50aqD5AaTdKTjWQcz9fAftHw8K2Q2nW4tdN7aQw" target="_blank">High Level Technical Requirements/Use Case Specification</a></h4>
      <h4><a href="https://drive.google.com/open?id=1kRESXwE4CE4V0h6ltBGC1ES1mzlEK6VGudLN-X3sfJU" target="_blank">Design Specifications</a></h4>
      <h4><a href="https://drive.google.com/open?id=1la21DoPxeBFUFBzW2mlMrilE7-2IYaBCWOus7Nj-ovs" target="_blank">Prototype Documentation</a></h4>
      <h4><a href="https://drive.google.com/open?id=1mLuI_5JkWcprGOYYFuJ8eKMoHxLC2gfVoO7SzsvRL-4" target="_blank">Project Management & Schedule</a></h4>
      <h4><a href="https://drive.google.com/open?id=1XarzzO52BoBqfpSDm9j1JjuNZ0Wk0chi-DEMt_6T9O0" target="_blank">Testing Plan & Strategy/Acceptance Criteria</a></h4>
<br/>

      {% include page-footer.html %}

    </section>

  </body>
</html>
